<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="MatrixDBDialog">
		<title>wxWidgets app</title>
		<id_arg>0</id_arg>
		<object class="wxBoxSizer" variable="outerWrapper" member="yes">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="contentSizer" member="no">
					<object class="sizeritem">
						<object class="wxStaticBoxSizer" variable="columnWrapper" member="no">
							<label>Table Columns</label>
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxListBox" name="ID_LISTCOLUMNS" variable="ListBox1" member="yes">
									<default>-1</default>
									<size>95,131</size>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="addRemoveColumnWrapper" member="no">
									<object class="sizeritem">
										<object class="wxButton" name="ID_BUTTONDELCOL" variable="removeColumnButton" member="yes">
											<label>-</label>
											<size>20,20</size>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxButton" name="ID_BUTTONADDCOL" variable="addColumnButton" member="yes">
											<label>+</label>
											<minsize>20,20</minsize>
											<maxsize>30,30</maxsize>
										</object>
										<flag>wxALL|wxSHAPED|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
									</object>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="wrapperSizer" member="no">
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxNotebook" name="ID_TABS" variable="tabs" member="yes">
									<size>309,202</size>
									<handler function="OntabsPageChanged" entry="EVT_NOTEBOOK_PAGE_CHANGED" />
									<object class="notebookpage">
										<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
											<object class="wxBoxSizer" variable="filesWrapper" member="no">
												<orient>wxVERTICAL</orient>
												<object class="sizeritem">
													<object class="wxGridSizer" variable="GridSizer1" member="no">
														<cols>3</cols>
														<object class="sizeritem">
															<object class="wxStaticText" name="ID_LABELFILESEL" variable="labelFileSelect" member="yes">
																<label>File:</label>
															</object>
															<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
															<border>5</border>
															<option>1</option>
														</object>
														<object class="sizeritem">
															<object class="wxTextCtrl" name="ID_INPUTFILE" variable="fileTextInput" member="yes">
																<value>File etc</value>
															</object>
															<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
															<border>5</border>
															<option>1</option>
														</object>
														<object class="sizeritem">
															<object class="wxButton" name="ID_BUTTONKK" variable="fileButton" member="yes">
																<label>kk</label>
															</object>
															<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
															<border>5</border>
															<option>1</option>
														</object>
														<object class="sizeritem">
															<object class="wxStaticText" name="ID_LABELDELIM" variable="labelDelim" member="yes">
																<label>Delimiter:</label>
															</object>
															<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
															<border>5</border>
															<option>1</option>
														</object>
														<object class="sizeritem">
															<object class="wxTextCtrl" name="ID_INPUTDELIM" variable="TextCtrl1" member="yes">
																<value>Text</value>
															</object>
															<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
															<border>5</border>
															<option>1</option>
														</object>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
											</object>
										</object>
										<label>Files</label>
									</object>
									<object class="notebookpage">
										<object class="wxPanel" name="ID_PANEL2" variable="Panel2" member="yes" />
										<label>Connect</label>
									</object>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="buttonSizer" member="no">
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTONRUN" variable="buttonRun" member="yes">
							<label>Run</label>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
		</object>
		<object class="wxFileDialog" variable="FileDialogue" member="yes">
			<message>Select file</message>
			<default_dir>.</default_dir>
		</object>
	</object>
</wxsmith>
